<h2>welcome to elearning
</h2>

<p>feel free to do al the things that you think are good for you</p>
<a class="button" href="/users/signup">Sign up for free</a>
<P>you need to register to sign up for free classess</P>
